#new_question_div {
	margin-bottom: 0px;
	height: 69px;
	position: relative;
}

.question_div {
	margin: 0 0 5px 0;
	text-align: left;
}

#question_input {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

#question-list .question_div {
	width: 241px;
	color: #E8D069;
}

#new_question_div .outer {
	background-color: #bbb;
	position: absolute;
	top: 0;
	left: 0;
}

#new_question_div .inner {
	background-color: #555;
}